<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>ADVOCACY.OD.UA | ПРО АДВОКАТА</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-F2XJG7PHCW"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-F2XJG7PHCW');
	</script>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-5GCGRCJ');</script>
	<!-- End Google Tag Manager -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-215424506-1">
	</script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-215424506-1');
	</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1345191162373175"
		crossorigin="anonymous"></script>
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GCGRCJ" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="header">
		<div>
			<a href="index.html" class="logo">
				<h1>АДВОКАТ БАЕНКО</h1>
			</a> <span>Связаться с адвокатом<b>+38 (063)145-89-76</b></span>
		</div>
		<ul>
			<li>
				<a href="index.html">Главная</a>
			</li>
			<li>
				<a href="services.html">Услуги</a>
			</li>
			<li>
				<a href="process.html">Практика</a>
			</li>
			<li>
				<a href="blog.html">Блог</a>
			</li>
			<li class="selected">
				<a href="about.html">Про адвоката</a>
			</li>
			<li>
				<a href="contact.html">Особое мнение</a>
			</li>
		</ul>
	</div>
	<div id="body">
		<div class="content">
			<img src="images/professionals2.jpg" alt="">
			<h3>О КАРЬЕРЕ И СПЕЦИАЛИЗАЦИИ</h3>
			<p>
				Начал я свою карьеру в 2018 году, имея предшествующий опыт работы, начиная с 2010 года, в органах
				принудительного исполнения решений, в страховой компании, опыт юрисконсульта телекоммуникационной компании,
				работы в сфере обращения с опасными отходами, не вполне удачный опыт руководства юридической компании
				(причиной неудачи стало отсутствие знаний в области маркетинга и информационных технологий), опыт
				представления интересов физических и юридических лиц в судах.
				Признав свои ошибки, старался на них учиться, совершенствуя юридическое мастерство.
				В ходе практической деятельности, приходилось быть представителем ответчиков, истцов, третьих лиц во всех
				разновидностях судебных процессов (гражданском, хозяйственном, административном); заново создавать и
				поддерживать систему документооборота крупных предприятий; обеспечивать соблюдение законности при проведении
				проверок органов надзора (контроля), обжаловать в административном и судебном порядке их результаты;
				оказывать защиту лицам, которых пытались привлечь к ответственности за совершение киберпреступлений,
				преступлений в сфере экономики и должностных преступлений; заниматься восстановлением на публичной службе,
				обжалование результатов дисциплинарных производств; восстановлением на работе и защитой трудовых прав;
				заниматься защитой в судебном порядку чести и достоинства, деловой репутацию, других неимущественных и
				имущественных прав физических и юридических лиц; защищать права и законные интересы на различные виды
				имущества; сопровождать раздел имущества супругов при разрыве отношений, определение места жительства
				несовершеннолетних детей. Это далеко не весь список категорий дел, которыми занимаюсь как адвокат.
				Сотрудничество с Адвокатским бюро «Гакман и партнеры» позволило окунуться в мир защиты от уголовного
				преследования и наладить взаимодействие с более опытными коллегами – адвокатами по уголовным делам, с
				которыми веду сотрудничество до сих пор.
				Да, преемственность кадров и солидный бэкграунд работы в разных сферах юриспруденции – основа для
				становления личности в качестве адвоката.
			</p>
			<h3> Коротко о делах и спорах, в которых имею живой практический интерес:</h3>
			<p>
			<ul>
				<li>
					- гражданские споры;
				</li>
				<li>
					- хозяйственные споры;
				</li>
				<li>
					- административные споры;
				</li>
				<li>
					- семейные споры;
				</li>
				<li>
					- имущественных споры (в т.ч. земельные);
				</li>
				<li>
					- защита в уголовных делах, связанных с совершением должностных преступлений и преступлений в сфере
					экономики;
				</li>
				<li>
					- участие в защите интересов при проведении проверок органов надзора (контроля).
				</li>
			</ul>
			</p>
			<h3>Be Part of Our Community</h3>
			<p>
				If you’re experiencing issues and concerns about this website template, join the discussion on and meet
				other people in the community who share the same interests with you.
			</p>
			<h3>Template details</h3>
			<p>
				Design version 3<br> Code version 3 <br>Website Template details, discussion and updates for this.<br>
				Website Template design by ree Website Templates</a>.<br> Please feel free to remove some or all the text
				and links of this page and replace it with your own About content.
			</p>
		</div>
	</div>
	<div id="footer">
	</div>
	<div class="container">
		<table align="center" border="0" cellpadding="0" cellspacing="0" style="height:75px; width:560px">
			<tbody>
				<tr>
					<td style="height:75px; text-align:center; vertical-align:middle; width:560px">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<span id="hotlog_counter"></span>
	<span id="hotlog_dyn"></span>
	<script type="text/javascript"> var hot_s = document.createElement('script');
		hot_s.type = 'text/javascript'; hot_s.async = true;
		hot_s.src = 'http://js.hotlog.ru/dcounter/2598598.js';
		hot_d = document.getElementById('hotlog_dyn');
		hot_d.appendChild(hot_s);
	</script>
	<noscript>
		<a href="http://click.hotlog.ru/?2598598" target="_blank">
			<img src="http://hit5.hotlog.ru/cgi-bin/hotlog/count?s=2598598&im=307" border="0" title="HotLog"
				alt="HotLog"></a>
	</noscript>
	<!-- /HotLog -->
</body>

</html>