<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>ADVOCACY.OD.UA | БЛОГ</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2XJG7PHCW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-F2XJG7PHCW");
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5GCGRCJ");
  </script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215424506-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-215424506-1");
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1345191162373175"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GCGRCJ" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="header">
    <div>
      <a href="index.html" class="logo">
        <h1>АДВОКАТ БАЕНКО</h1>
      </a>
      <span>Связаться с адвокатом<b>+38 (063)145-89-76</b></span>
    </div>
    <ul>
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="services.html">Услуги</a>
      </li>
      <li>
        <a href="process.html">Практика</a>
      </li>
      <li class="selected">
        <a href="blog.html">Блог</a>
      </li>
      <li>
        <a href="about.html">Про адвоката</a>
      </li>
      <li>
        <a href="contact.html">Особое мнение</a>
      </li>
    </ul>
  </div>
  <div id="body">
    <div id="blog">
      <p>
        <b>Интервъю адвоката телеканалу Odesa.live на тему проблем в системе
          органов Национальной полиций</b <ul>
        <li>
          00:00 — Введение;
        </li>
        <li>
          02:57 — Сложные условия работы в полиции;
        </li>
        <li>

          12:57 — Последствия реформы и дефицит кадров;
        </li>
        <li>
          17:30 — Дополнительный труд правоохранителей;
        </li>
        <li>
          24:40 — Защита прав полицейских;
        </li>
        <li>

          37:00 — Повышение зарплат;
        </li>
        <li>


          45:44 — Отрицательная оценка работы правоохранителей.
        </li>
        </ul>



      </p>
      <iframe width="600" height="300" src="https://www.youtube.com/embed/zUHmKs0jfG8" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <p>
        С начала проведения аттестации сотрудников милиции и набора сотрудников в органы Национальной полиции возникли
        проблемы, которые в дальнейшем стали системными и превели не только к нарушению прав действующих полицейских, но
        коснулись бывших милиционеров, которые не прошли аттестацию, несмотря на соответсвие критериям отбора. Адвокат
        Ярослав Баенко
        участвовал в формировании судебной практики и в ряде дел добился восстановлении на должности компетентных
        сотрудников.
        Свормированная судебная практика стала основанием для дальнейших обжалований также и результатов дисциплинарных
        производств в отношении
        полицейских.
        Обратиться за консультацей по вопросам прохождения публичной службы и обжалования результатов дисциплинарных
        производств вы можете
        по телефону адвоката +38 (063) 145-89-76, а также заполнив соответсвующую форму на сайте.
      </p>
      <p>
      <p>
        <b>Интервъю адвоката 7 каналу на тему обращения с пластиковыми пакетами</b </p>
        <iframe width="600" height="300" src="https://www.youtube.com/embed/Bw9u0IeZKdU" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </p>
      <p>
        С 10 декабря в Украине вступает в силу закон, запрещающий распространение в розничной торговле, общепите и сфере
        услуг сверхтонких и тонких пластиковых пакетов. Временно в обращении до 1 января 2023 останутся только
        сверхтонкие пакеты, являющиеся первичной упаковкой для рыбы, мясопродуктов и сыпучих продуктов.
      </p>
      <b>Интервъю телеканалу Odesa.live на тему борьбы с кредитными мошенниками</b </p>
      <iframe width="600" height="300" src="https://www.youtube.com/embed/aBUa76450r4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      </p>
      <p>
        С каждым годом повляются новые мошеннические схемы, позволяющие путем злоупотребления доверием граждан завладеть
        их честно нажитыми
        средствами. Злоумышленники действуют, представляясь сотрудниками служб безопасности банков, осуществляют т.н.
        "веерный" прозвон
        телеофнных номеров для возможности востанновления сим-карты клиента банка, с последующей аутентификацей в
        платежной системе.
        Как не попастся на крючок преступников? Об этом
        и многом другом мы поговорили в эфире телеканала.
      </p>
    </div>
    <div id="sidebar">
      <div>
        <h3>ГОСРЕЕСТРЫ</h3>
        <ul>
          <li>
            <a href="https://reyestr.court.gov.ua">Реестр судебных решений</a>
          </li>
          <li>
            <a href="https://asvpweb.minjust.gov.ua/#/search-debtors">Реєстр исполнительных производств</a>
          </li>
          <li>
            <a href="https://usr.minjust.gov.ua">Сведения о юридических лицах и ФЛП</a>
          </li>
          <li>
            <a href="https://id.court.gov.ua">Портал "Электронный суд"</a>
          </li>
          <li>
            <a href="https://id.diia.gov.ua/">Портал госуслуг "Дия"</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>ПОЛЕЗНЫЕ ССЫЛКИ</h3>
        <ul>
          <li>
            <a href="https://cabinet.tax.gov.ua/">Кабинет налогоплательщика</a>
          </li>
          <li>
            <a href="https://vchasno.ua">Сервис "Вчасно"</a>
          </li>
          <li>
            <a href="https://prozorro.gov.ua">Госзакупки</a>
          </li>
          <li>
            <a href="https://web.archive.org/">Веб-нотариат</a>
          </li>
          <li>
            <a href="https://www.mak-mel.com/calculation/allCalcs">Калькулятор санкций</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer"></div>
  <div class="container">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 75px; width: 560px">
      <tbody>
        <tr>
          <td style="
                height: 75px;
                text-align: center;
                vertical-align: middle;
                width: 560px;
              ">
            <p></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <span id="hotlog_counter"></span>
  <span id="hotlog_dyn"></span>
  <script type="text/javascript"> var hot_s = document.createElement('script');
    hot_s.type = 'text/javascript'; hot_s.async = true;
    hot_s.src = 'http://js.hotlog.ru/dcounter/2598598.js';
    hot_d = document.getElementById('hotlog_dyn');
    hot_d.appendChild(hot_s);
  </script>
  <noscript>
    <a href="http://click.hotlog.ru/?2598598" target="_blank">
      <img src="http://hit5.hotlog.ru/cgi-bin/hotlog/count?s=2598598&im=307" border="0" title="HotLog" alt="HotLog"></a>
  </noscript>
  <!-- /HotLog -->
</body>

</html>