<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>ADVOCACY.OD.UA | ОСОБОЕ МНЕНИЕ</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2XJG7PHCW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-F2XJG7PHCW");
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5GCGRCJ");
  </script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215424506-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-215424506-1");
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1345191162373175"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GCGRCJ" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="header">
    <div>
      <a href="index.html" class="logo">
        <h1>АДВОКАТ БАЕНКО</h1>
      </a>
      <span>Связаться с адвокатом<b>+38 (063)145-89-76</b></span>
    </div>
    <ul>
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="services.html">Услуги</a>
      </li>
      <li>
        <a href="process.html">Практика</a>
      </li>
      <li>
        <a href="blog.html">Блог</a>
      </li>
      <li>
        <a href="about.html">Про адвоката</a>
      </li>
      <li class="selected">
        <a href="contact.html">Особое мнение</a>
      </li>
    </ul>
  </div>
  <div id="body">
    <div id="blog">
      <p>
        <b>Юрист-разработчик смарт контрактов – профессия будущего

        </b>
      </p>

      <p class="statti">
        В своём профиле Meta, он же Фейсбук в качестве политических взглядов в уже далеком 2015 году я указал как
        Upper-left.
        <br> Ниже будет приведена информация, которая стала причиной возникновения таких взглядов. <br />
        Несмотря на то, что одна печально известная партия в одной из самих нищих стран Европы шла в Парламент именно
        под знаменами либертарианства, на деле же это оказалось не подкреплённым действиями дешевым лозунгом.
        В одном эти спекулянты остались правы – они своевременно удовлетворили информационный запрос общества на
        потребность в свободном рынке и дерегуляции общественных отношений.
        Сами же потребности остались неудовлетворенными, а социальная напряженность продолжает расти. Увеличение коли
        чества экономических и информационных посредников привело к переоценке ценностей и значительному удорожанию
        ресурсов.
        Большая часть владельцев недвижимого имущества не имеют надлежащим образов оформленных и достоверных по своему
        содержанию правоустанавливающих документов, что открывает дорогу ко всякого рода мошенническим действиям и
        другим
        видам незаконного завладения чужим имуществом.
        Система государственных закупок, на которую подавали большие надежды наивные участники рынка на практике
        показала
        свою неспособность справиться с манипуляциями и согласованными конкурентными действиями.
        Трудовые эмигранты вынуждены пользоваться системами денежных переводов, которые забирают у добросовестных
        тружеников до 20% кровно нажитых денег.
        Регулятор обложил налогом на добавленную стоимость даже рекламу на сайте, на котором публикуется эта статья.
        Возникает все больше и больше препятствий для осуществления и без того рискового предпринимательства.
        Создав абсолютно любой имущественный актив, мы вынуждены обращаться к посредникам, чья деятельность одобрена
        сильными мира сего, и именно они определяют как его стоимость, так и фактически вашу долю в его владении.
        Такое положение дел закрывает всякую дорогу к созидательному творчеству и тормозит прогресс.
        Спасательным кругом может лишь стать создание самоисполнющихся контрактов, обеспечивающих самостоятельное
        исполнение обязательств в результате предварительного согласования его условий между участниками сделки.
        Сегодня благодаря системе распределенных вычислений стали возможными: создание замены фондового рынка, новой
        модели государственного управления, где чиновники полностью подотчетны гражданам, исключение посредников на
        ресурсных рынках и т.д.
        Любая система согласовательных процедур может быть реализована на принципиально новых принципах, исключающих
        манипуляции.
        Система блокчейн работает без создания юридического лица, что позволяет в действительности обеспечить
        децентрализацию экономики.
        Мы уже становились свидетелями ситуаций, в которых подразделения киберполиции и СБУ задерживали майнеров и
        владельцев дата-центров, как выяснилось в дальнейшем, не имеющих никакого отношения к нелегальной деятельности,
        более того, их деятельность вообще не входила в предмет правового регулирования.
        Таким образом, привыкшие есть много и вкусно, отдельные законотворцы и блюстители порядка являются явными
        врагами
        интеллектуального и экономического развития.
        «Бумажная» юриспруденция становиться пережитком прошлого, заключение сделок в письменном виде осталась в
        качестве
        рудимента от прежних поколений юристов эпохи модерна.
        Когда говорю о «бумажной» юриспруденции, то сюда отношу также и заключение сделок с использованием
        квалифицированных электронных подписей.
        Ведь возможность подписания электронных сделок, не обеспечивает также и исполнения в полной мере в цифровом виде
        обязательств по ним, а лишь фиксирует их содержание в относительно безопасном хранилище.
        В будущем субъекту хозяйствование не надо будет проходить затратные процедуры согласования осуществления
        безналичных платежей и лицензирования хозяйственной деятельности, единственным институтом легитимизации должна
        стать система распределенных вычислений, в которой принимать решения будут одновременно все пользователи такой
        системы.
        Одновременно с этим будет автоматически разрешена проблема злоупотреблений монопольным положением, ведь теперь
        не
        будет обусловленных коррупционными связями государственных органов, призванных реализовывать политику
        поддержания
        добросовестной конкуренции.
        Мастхевом для каждого юриста станут навыки написания смарт-контрактов на языке, подобном Solidity от Ethereum,
        который реализуют самоусиливающуюся бизнес-логику, воплощенную в этих контрактах, что позволяет совершать
        достоверные сделки без участия третьих лиц.
        Каждая транзакция по такой сделке имеет достоверное и допустимое криптографическое доказательство ее
        осуществления, что исключит затяжные судебные тяжбы и необходимость обеспечивать задутый штат высокооплачиваемых
        за деньги налогоплательщиков не эффективных в своей работе, судей.
        Вся ответственность за сохранность личных денег и ресурсов субъекта хозяйствования будет лежать на них самих,
        финансовые учреждения вынуждены будут устраниться в реализации монопольного права на управление финансовыми
        потоками.
        Есть и обратная сторона медали, заключающаяся в дискриминации лиц, не владеющих компьютерными технологиями и
        английским языком.
        Опять-таки упираемся в проблему низкого уровня цифрового образования. Власть имущие из меркантильных соображений
        будут и далее заниматься снижением уровня образования населения.
        Поэтому предлагается на начальном этапе использовании технологии блокчейн при заключении т.н. смарт-контрактов
        ограничиться B2B сегментом рынка.
        На данный момент главным преимуществом правового регулирования хозяйственной деятельности является оперативность
        урегулирования хозяйственных споров.
        Сделки, заключенные посредством технологии распределенного подтверждения валидности операции, вовсе исключат
        возникновения конфликтов на рынках.
        Работа юриста-хозяйственника в таких условиях будет требовать знаний в новых отраслях, таких как машинное
        обучение
        и разработка однозначных в исполнении смарт-контрактов, написанных, к примеру, на языке Solidity.
        В новом 2022 году в качестве одного из планов личного развития включил изучение системы распределенных
        вычислений
        и вышеуказанного языка.
        Приглашаю коллег-юристов и специалистов в отрасли информационных технологий к совместной работе над изучением
        указанной проблематики.
        Telegram: +380631458976
        Адвокат Ярослав Баенко
      </p>
    </div>
    <div id="sidebar">
      <div>
        <h3>recent post</h3>
        <ul>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>archives</h3>
        <ul>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
          <li>
            <a href="#">This is just a place holder</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer"></div>
  <div class="container">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 75px; width: 560px">
      <tbody>
        <tr>
          <td style="
                height: 75px;
                text-align: center;
                vertical-align: middle;
                width: 560px;
              ">
            <p></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <span id="hotlog_counter"></span>
  <span id="hotlog_dyn"></span>
  <script type="text/javascript"> var hot_s = document.createElement('script');
    hot_s.type = 'text/javascript'; hot_s.async = true;
    hot_s.src = 'http://js.hotlog.ru/dcounter/2598598.js';
    hot_d = document.getElementById('hotlog_dyn');
    hot_d.appendChild(hot_s);
  </script>
  <noscript>
    <a href="http://click.hotlog.ru/?2598598" target="_blank">
      <img src="http://hit5.hotlog.ru/cgi-bin/hotlog/count?s=2598598&im=307" border="0" title="HotLog" alt="HotLog"></a>
  </noscript>
  <!-- /HotLog -->
</body>

</html>