<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>ADVOCACY.OD.UA | ГЛАВНАЯ</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2XJG7PHCW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-F2XJG7PHCW');
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-5GCGRCJ');</script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215424506-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-215424506-1');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1345191162373175"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GCGRCJ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="header">
    <div>
      <a href="index.html" class="logo">
        <h1>АДВОКАТ БАЕНКО</h1>
      </a>
      <span>Связаться с адвокатом<b>+38 (063)145-89-76</b></span>
    </div>
    <ul>
      <li class="selected">
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="services.html">Услуги</a>
      </li>
      <li>
        <a href="process.html">Практика</a>
      </li>
      <li>
        <a href="blog.html">Блог</a>
      </li>
      <li>
        <a href="about.html">Про адвоката</a>
      </li>
      <li>
        <a href="contact.html">Особое мнение</a>
      </li>
    </ul>
  </div>
  <div id="body">
    <div class="header">
      <h1>Сайт Адвоката Ярослава Баенко</h1>
      <p>
        Вы посетиле сайт адвоката Ярослава Баенко, который содержит информацию об услугах и специализации адвоката,
        новости мира юриспруденции, практические советы по защите законных прав и интересов, а в отдельных блоках
        сайта - информацию, которая отображает личное мнение адвоката по отдельным вопросам, результаты творческих
        изысканий,
        не преследующих цель обиды чьих-либо взглядов, чувств и представлений.
      <h3>ПРЕДУПРЕЖДЕНИЕ</h3>
      <p>
        Ваше мнение может отличаться от моего, но это не значит, что осталвенная вами информаиция не будет принята к
        сведению.
      </p>
      </p>
    </div>
    <div class="body">
    </div>
    <div class="footer">
      <div class="article">
        <h3>Блог</h3>
        <div>
          <span>16.12.2021: Новости адвокатуры</span>
          <img src="images/house.jpg" alt="" />
          <p>
            <b>Интервъю адвоката телеканалу Odessa.live на тему проблем в системе
              органов Национальной полиций</b <ul>
            <li>
              00:00 — Введение;
            </li>
            <li>
              02:57 — Сложные условия работы в полиции;
            </li>
            <li>

              12:57 — Последствия реформы и дефицит кадров;
            </li>
            <li>
              17:30 — Дополнительный труд правоохранителей;
            </li>
            <li>
              24:40 — Защита прав полицейских;
            </li>
            <li>

              37:00 — Повышение зарплат;
            </li>
            <li>


              45:44 — Отрицательная оценка работы правоохранителей.
            </li>
            </ul><a href="blog.html" class="more"><b>(ЧИТАТЬ ДАЛЕЕ...)</b></a>
          </p>
        </div>
        <ul>
          <li>
            <span>11.09.2021: Новости</span>
            <img src="images/7channel.jpg" alt="" />
            <p>
              С 10 декабря в Украине вступает в силу закон, запрещающий распространение в розничной торговле, общепите и
              сфере услуг сверхтонких и тонких пластиковых пакетов. Временно в обращении до 1 января 2023 останутся
              только сверхтонкие пакеты, являющиеся первичной упаковкой для рыбы, мясопродуктов и сыпучих продуктов.
              <a href="blog.html" class="more"><b>(ЧИТАТЬ ДАЛЕЕ...)</b></a>
            </p>
          </li>
          <li>
            <span>23.11.2021: Новости</span>
            <img src="images/mosh.jpg" alt="" />
            <p>
              С каждым годом повляются новые мошеннические схемы, позволяющие путем злоупотребления доверием граждан
              завладеть их честно нажитыми средствами. Злоумышленники действуют, представляясь сотрудниками служб
              безопасности банков, осуществляют т.н. "веерный" прозвон телеофнных номеров для возможности...
              <a href="blog.html" class="more"><b>(ЧИТАТЬ ДАЛЕЕ...)</b></a>


            </p>
          </li>
        </ul>
      </div>
      <div class="aside">
        <div>
          <h3>Про адвоката</h3>
          <a href="about.html" class="figure"><img src="images/professionals.jpg" alt="" /></a>
          <p>
            Начал я свою карьеру в 2018 году, имея предшествующий опыт работы, начиная с 2010 года, в органах
            принудительного исполнения решений, в страховой компании, опыт юрисконсульта телекоммуникационной компании,
            работы в сфере обращения с опасными отходами, не вполне удачный опыт руководства юридической компании
            (причиной неудачи стало отсутствие знаний в области маркетинга и информационных технологий), опыт
            представления интересов физических и юридических лиц в судах.
            Признав свои ошибки, старался на них учиться, совершенствуя юридическое мастерство.
            В ходе практической деятельности, приходилось быть представителем ответчиков, истцов, третьих лиц во всех
            разновидностях судебных процессов (гражданском, хозяйственном, административном); заново создавать и
            поддерживать систему документооборота крупных предприятий; обеспечивать соблюдение законности при проведении
            проверок органов надзора (контроля), обжаловать в административном и судебном порядке их результаты;
            оказывать защиту лицам, которых пытались привлечь к ответственности за совершение киберпреступлений,
            преступлений в сфере экономики и должностных преступлений; заниматься восстановлением на публичной службе,
            обжалование результатов дисциплинарных производств; восстановлением на работе и защитой трудовых прав;
            заниматься защитой в судебном порядку чести и достоинства, деловой репутацию, других неимущественных и
            имущественных прав физических и юридических лиц; защищать права и законные интересы на различные виды
            имущества; сопровождать раздел имущества супругов при разрыве отношений, определение места жительства
            несовершеннолетних детей. Это далеко не весь список категорий дел, которыми занимаюсь как адвокат.
            Сотрудничество с Адвокатским бюро «Гакман и партнеры» позволило окунуться в мир защиты от уголовного
            преследования и наладить взаимодействие с более опытными коллегами – адвокатами по уголовным делам, с
            которыми веду сотрудничество до сих пор.
            Да, преемственность кадров и солидный бэкграунд работы в разных сферах юриспруденции – основа для
            становления личности в качестве адвоката.
          </p>
        </div>
        <form action="index.html">
          <h3>newsletter</h3>
          <input type="text" name="fullname" id="fullname" value="full name" />
          <input type="text" name="email" id="email" value="email address" />
          <input type="submit" name="submit" id="subscribe" value="" />
        </form>
      </div>
    </div>
  </div>
  <div id="footer">

  </div>
  <div class="container">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 75px; width: 560px">
      <tbody>
        <tr>
          <td style="
                height: 75px;
                text-align: center;
                vertical-align: middle;
                width: 560px;
              " </td>
        </tr>
      </tbody>
    </table>
  </div>
  <span id="hotlog_counter"></span>
  <span id="hotlog_dyn"></span>
  <script type="text/javascript"> var hot_s = document.createElement('script');
    hot_s.type = 'text/javascript'; hot_s.async = true;
    hot_s.src = 'http://js.hotlog.ru/dcounter/2598598.js';
    hot_d = document.getElementById('hotlog_dyn');
    hot_d.appendChild(hot_s);
  </script>
  <noscript>
    <a href="http://click.hotlog.ru/?2598598" target="_blank">
      <img src="http://hit5.hotlog.ru/cgi-bin/hotlog/count?s=2598598&im=307" border="0" title="HotLog" alt="HotLog"></a>
  </noscript>
  <!-- /HotLog -->
</body>

</html>