<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="icon" href="main_icon.png" type="image/png">
    <title>ELECTRIC VEHICLES OF THE WORLD</title>
</head>
<body>
    <h1 align="center">ELECTRIC VEHICLES OF THE WORLD</h1>
    <p align="center">
        <img src="img_main_window/tesla.jpg" width="300" height="180" alt="">
        <img src="img_main_window/station.jpg" width="300" height="180" alt="">
        <img src="img_main_window/panels.jpg" width="300" height="180" alt="">
        <img src="img_main_window/wild.jpg" width="300" height="180" alt="">
        
    </p>
        <hr>
    <p style="margin-left: 50px;">
        An electric car, battery electric car, or all-electric car is an automobile that is propelled by one or more electric motors, using only energy stored in batteries. Compared to internal combustion engine (ICE) vehicles, electric cars are quieter, have no exhaust emissions, and lower emissions overall. In the United States and the European Union, as of 2020, the total cost of ownership of recent electric vehicles is cheaper than that of equivalent ICE cars, due to lower fueling and maintenance costs. Charging an electric car can be done at a variety of charging stations; these charging stations can be installed in both houses and public areas.
    </p>
    <hr>
    <h2 style="margin-left: 50px;">PRODUCING COUNTRY:</h2>
    <ul style="margin-left: 50px;">
        <a href="country/USA/USA.html"><li>USA</li></a>
        <a href="country/Japon/Japan.html"><li>Japan</li></a>
        <a href="country/Germany/Germany.html"><li>Germany</li></a>
        <a href="country/China/China.html"><li>China</li></a>
    </ul>

</body>
</html>