<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>ADVOCACY.OD.UA | ПРАКТИКА</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2XJG7PHCW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-F2XJG7PHCW");
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5GCGRCJ");
  </script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215424506-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-215424506-1");
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1345191162373175"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GCGRCJ" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="header">
    <div>
      <a href="index.html" class="logo">
        <h1>АДВОКАТ БАЕНКО</h1>
      </a>
      <span>Связаться с адвокатом<b>+38 (063)145-89-76</b></span>
    </div>
    <ul>
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li>
        <a href="services.html">Услуги</a>
      </li>
      <li class="selected">
        <a href="process.html">Практика</a>
      </li>
      <li>
        <a href="blog.html">Блог</a>
      </li>
      <li>
        <a href="about.html">Про адвоката</a>
      </li>
      <li>
        <a href="contact.html">Особое мнение</a>
      </li>
    </ul>
  </div>
  <div id="body">
    <div class="featured">
      <img src="images/reporting.jpg" alt="" />
      <b>Юридические услуги, предоставляемые физическим лицам </b>
      <p>
        Получая квалифицированную юридическую консультацию – Вы с лёгкостью
        разберётесь, в каких именно юридических услугах нуждаетесь.
        Своевременное обращение к квалифицированному специалисту – гарантия
        восстановления нарушенных прав. Перечень юридических услуг: -
        юридическая консультация (устная и письменная); - составление
        процессуальных документов (исковые заявления, жалобы, претензии,
        требования, ходатайства, запросы и др.); - представление интересов в
        судах всех инстанций (а также в других учреждениях и организациях всех
        форм собственности); Наши юристы и адвокаты, имея опыт защиты прав
        клиентов в судах разных инстанций, органах власти позволит обеспечить
        квалифицированную юридическую помощь по следующим направлениям: -
        ведение уголовных дел; - представление интересов в гражданских,
        хозяйственных спорах; - защита прав собственности; - семейные споры; -
        трудовые споры; - земельные споры; - дела о наследстве; - дела о
        возмещении материального и морального ущерба; - споры с финансовыми
        учреждениями; - защита прав потребителей; - представление интересов в
        органах Государственной исполнительной службы; - иные направления.
        Представление интересов физических лиц в суде включает в себя: -
        юридические консультации; - досудебное урегулирование спора; -
        составление процессуальных документов; - ведение уголовных,
        гражданских дел и дел об административных правонарушениях в судах
        общей юрисдикции, ведение дел в хозяйственных и административных
        судах; - обжалование решений суда, подготовка апелляционных и
        кассационных жалоб.
      </p>
    </div>
    <ul>
      <li>
        <div>
          <h3>Страховые возмещения</h3>
          <p>
            Адвокатом было получено более 100 судебных решений, которыми
            суды удовлетворили требования клиентов адвоката в делах о
            взыскании невыплаченных сум страховых возмещений по ДТП.
          </p>
        </div>
        <div>
          <p>
            Страховые компании зачастую уклоняются от обязанности по выплате страховых возмещений третьим лицам,
            постадавшим в результате ДТП от застрахованных в таких страховых компаниях виновников ДТП. Алгоритм дейтсвий
            потерпевшего
            состит из следующих этапов: подача уведомления о страховом событии и копий подтверждающих документов;
            оценка ущерба, нанесенного транспортному средству; получение и подача в страховую компанию решения в деле о
            привлечении к
            административной ответственности виновника ДТП; подача заявления о выплате страхового возмещения; ожидание
            90 дней после
            подачи заявления о выплате страхового возмещения, в течении которых страховая компания обязана осуществить
            страховую выплату.
            Если Вы не получили своевременно выплату - обращайтесь к адвокату Ярославу Баенко.
          </p>
        </div>
      </li>
      <li>
        <div>
          <h3>Прохождение публичной службы</h3>
          <p>
          </p>
        </div>
        <p>
          Адвокат имеет и практический опыт восстановления на должности незаконно уволенных госслужащих,
          сотрудников органов Национальной полиции Украины, прокуратуры и других правоохранительных органов,
          а также опыт взыскания невыплаченной заработной платы, выходного пособия, обжалования результатов
          служебных расследований.
        </p>
      </li>
      <li>
        <div>
          <h3>Семейные, гражданские споры</h3>
          <p>
            Ваш надежный партнер и советник в семейных, наследственных и других гражданских спорах.
          </p>
        </div>
        <div>
          <img src="images/disscussing.jpg" alt="" />
          <p>
            За период практической деятельности адвокатом были урегулированы как в досудебном, так и в судебном
            порядке конфилкты, возникшие на почве семейных отношений и отношений в отношении имущества, а именно:
            обеспечены разводы и разделы имущества супругов, определены места жительства несовершеннолетних детей,
            установлены порядки свиданий с детьми, которые проживают отдельно от одного из родителей и т.д.
            Своевременное обращение за квалифицированной правовой помощью избавит излишних эмоциональных и финансовых
            затрат.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div id="footer"></div>
  <div class="container">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 75px; width: 560px">
      <tbody>
        <tr>
          <td style="
                height: 75px;
                text-align: center;
                vertical-align: middle;
                width: 560px;
              ">
            <p></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <span id="hotlog_counter"></span>
  <span id="hotlog_dyn"></span>
  <script type="text/javascript">
    var hot_s = document.createElement("script");
    hot_s.type = "text/javascript";
    hot_s.async = true;
    hot_s.src = "http://js.hotlog.ru/dcounter/2598598.js";
    hot_d = document.getElementById("hotlog_dyn");
    hot_d.appendChild(hot_s);
  </script>
  <noscript>
    <a href="http://click.hotlog.ru/?2598598" target="_blank">
      <img src="http://hit5.hotlog.ru/cgi-bin/hotlog/count?s=2598598&im=307" border="0" title="HotLog"
        alt="HotLog" /></a>
  </noscript>
  <!-- /HotLog -->
</body>

</html>