<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>ADVOCACY.OD.UA | УСЛУГИ</title>
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-F2XJG7PHCW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-F2XJG7PHCW");
  </script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-5GCGRCJ");
  </script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215424506-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-215424506-1");
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1345191162373175"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GCGRCJ" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="header">
    <div>
      <a href="index.html" class="logo">
        <h1>АДВОКАТ БАЕНКО</h1>
      </a>
      <span>Связаться с адвокатом<b>+38 (063)145-89-76</b></span>
    </div>
    <ul>
      <li>
        <a href="index.html">Главная</a>
      </li>
      <li class="selected">
        <a href="services.html">Услуги</a>
      </li>
      <li>
        <a href="process.html">Практика</a>
      </li>
      <li>
        <a href="blog.html">Блог</a>
      </li>
      <li>
        <a href="about.html">Про адвоката</a>
      </li>
      <li>
        <a href="contact.html">Особое мнение</a>
      </li>
    </ul>
  </div>
  <div id="body">


    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSeZiHzuh6mDnQ53P94HZv_QQ0UAmOr08Kh0gE1CJuQz6XRzyA/viewform?embedded=true"
      width="640" height="1330" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>



  </div>
  <div id="footer"></div>
  <div class="container">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 75px; width: 560px">
      <tbody>
        <tr>
          <td style="
                height: 75px;
                text-align: center;
                vertical-align: middle;
                width: 560px;
              ">
            <p></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <span id="hotlog_counter"></span>
  <span id="hotlog_dyn"></span>
  <script type="text/javascript">
    var hot_s = document.createElement("script");
    hot_s.type = "text/javascript";
    hot_s.async = true;
    hot_s.src = "http://js.hotlog.ru/dcounter/2598598.js";
    hot_d = document.getElementById("hotlog_dyn");
    hot_d.appendChild(hot_s);
  </script>
  <noscript>
    <a href="http://click.hotlog.ru/?2598598" target="_blank">
      <img src="http://hit5.hotlog.ru/cgi-bin/hotlog/count?s=2598598&im=307" border="0" title="HotLog"
        alt="HotLog" /></a>
  </noscript>
  <!-- /HotLog -->
</body>

</html>