<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css" type="text/css"/>
    <link rel="icon" href="germany_icon.png" type="image/ipg">
    <title>Germany</title>
</head>
<body>
    <h1 align="center">Germany</h1>
    <p align="center">
        <img src="id.jpg" width="300" height="180" alt="">
        <img src="id1.jpg" width="300" height="180" alt="">
    </p>
    <h2 align="center">
        Volkswagen ID — электромобиль от Volkswagen, он базируется на платформе Volkswagen Group MEBrude и стал первым кроссовером в электрической линейке марки. В платформе MEB аккумуляторная батарея расположена в полу автомобиля.
    </h2>
    <p style="margin-left: 50px;">
        Електродвигун: Синхронний на постійних магнітах
Потужність, кВт: 150
Максимальний крутний момент, Н*м: 310
Потужність, к.с.: 204
Кількість двигунів: Один
Ємність батареї, кВт*год: 84.8
Тип батареї: Трикомпонентна літієва
Запас ходу, км (2021/2022 р.в.): 550/600
Привід: Задній
Маса автомобіля в спорядженому стані, кг: 2120
Об`єм багажного відділення, л: 543
Кліренс, мм: 210
Довжина / ширина / висота, мм: 4592/1852/1629
Колісна база, мм: 2765
Максимальна швидкість, км/год: 160
Час прискорення до 100 км/год, сек: 8.5
Країна виробництва: Китай.</p>
   <iframe style="margin-left: 50px;" width="560" height="315" src="https://www.youtube.com/embed/MnlLD_a6IC8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>