<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css" type="text/css"/>
    <link rel="icon" href="tesla_icon.jpg" type="image/jpg">    
    <title>Model S</title>
</head>
<body>
    <h1 align="center">TESLA Model S</h1>
    <p align="center">
        <img src="tesla_m_s.jpg" width="500" height="350" alt="">   
        <img src="tesla_m_s1.jpg" width="700" height="350" alt="">  
    </p>
    <p style="margin-left: 50px;">
        За время производства конструкторы создали 17 модификаций модели Тесла S. Они отличаются объемом аккумуляторов, мощностью двигателей и внутренними электронными системами.
    Сегодня купить можно 4 модификации: 70D, 90D, P90D , P100D. Цифра в названии означает объем аккумулятора.</p>
    <ul style="margin-left: 50px;">
        <li>Максимальная скорость автомобиля ограничена электроникой и составляет 249 км/ч. При этом от нуля до 100 км/ч авто разгоняется за 2,5 секунд. Этот результат — лучший  среди массовых электрокаров и входит в общий ТОП-20 среди спортивных автомобилей.</li>
        <li>16-модульный литий-ионный аккумулятор объемом 90 кВт позволяет проехать на одном заряде до 426 км — это лучший результат среди электрокаров.</li>
        <li>На авто в комплектациях D установлены два синхронизированных электрических мотора общей мощностью 691 лошадиная сила (в максимальной комплектации), соединенные открытым дифференциалом. Это позволяет добиться высокой слаженности в работе механизмов даже во время движения на скорости выше 200 км/ч.</li>
    </ul>
    <p style="margin-left: 50px;">Коэффициент динамического сопротивления автомобиля составляет всего 0,24. Это самый низкий показатель среди всех существующих наземных видов транспорта. Особенности строения кузова обеспечивают идеальную управляемость авто на высоких скоростях.
    </p>
    
    <iframe style="margin-left: 50px;" width="560" height="315" src="https://www.youtube.com/embed/wS8KZ1iEp7I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</body>
</html>