<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css" type="text/css"/>
    <link rel="icon" href="tesla_icon.jpg" type="image/jpg">
    <title>Model S</title>
</head>
<body>
    <h1 align="center">TESLA Model 3</h1>
    <p align="center">
        <img src="tesla_m_3.jpg" width="600" height="350" alt="">
        <img src="tesla_m_31.jpg" width="600" height="350" alt="">
    </p>
    <p style="margin-left: 50px;">
        Дизайн авто разработан в футуристическом стиле. Модель не имеет решетки радиатора — благодаря специальной внутренней системе охлаждения она стала просто ненужной. Внешний вид авто напоминает Tesla Model S, но формы кузова стали более округлыми и сглаженными.</p>
    <ul style="margin-left: 50px;">
        <li>Автомобиль в базе разгоняется с нуля до 100 км/ч за 5,3 секунды. Максимальная скорость авто составляет 225 км/ч.</li>
        <li>На одном заряде Model 3 может проехать до 400 км — это отличный результат для бюджетного автомобиля.</li>
        <li>Система автопилота прошла ряд усовершенствований и доработок. Камеры и специальные датчики движения помогают системе рассчитать оптимальные траектории и оперативно отреагировать на препятствия. Это повышает безопасность движения и предотвращает аварийные ситуации. Так, водитель может полностью передать управление машиной компьютеру.</li>
    </ul>
    <p style="margin-left: 50px;">Коэффициент динамического сопротивления Тесла Модель 3 составляет всего 0,21 — это лучший результат среди всех существующих наземных авто. До 2016 года рекордсменом была модель Tesla Model S.
    </p>

    <iframe style="margin-left: 50px;" width="560" height="315" src="https://www.youtube.com/embed/x8fYDuZvR8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>