<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../style.css" type="text/css"/>
    <link rel="icon" href="tesla_icon.jpg" type="image/jpg">
    <title>Model S</title>
</head>
<body>
    <h1 align="center">TESLA Model Y</h1>
    <p align="center">
        <img src="tesla_m_y.jpg" width="600" height="350" alt="">
        <img src="tesla_m_y1.jpg" width="600" height="350" alt="">
    </p>
    <p style="margin-left: 50px;">
        Tesla Y, характеристики
Standart оснащается электрической силовой установкой, с помощью которой можно от 0 до 100 км/ч разогнаться за 6,3 секунды, максимальная скорость 193 км/ч. Заднеприводная Long Range разгоняется до 100 км/ч за 5,8 секунды, максимальная скорость ограничена электроникой, и составляет 209 км.</p>

   <iframe style="margin-left: 50px;" width="560" height="315" src="https://www.youtube.com/embed/bwhmaz2LkwQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>
</html>