<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/style.css" type="text/css"/>
    <link rel="icon" href="usa.png" type="image/png">    
    <title>USA</title>
</head>
<body>
    <h1 align="center">TESLA</h1>
    <p align="center">
        <img src="tesla.jpg" width="300" height="180" alt="">        
    </p>
    <h2 align="center">
        Tesla (formerly Tesla Motors) is an American manufacturer of electric vehicles and electric energy storage solutions (see SolarCity).
    </h2>
    <h3 style="margin-left: 50px;">lineup of cars:</h3>
    <ul style="margin-left: 50px;">
        <a href="model_s.html"><li>Model S</li></a>
        <a href="model_x.html"><li>Model X</li></a>
        <a href="model_3.html"><li>Model 3</li></a>
        <a href="model_y.html"><li>Model Y</li></a>
    </ul>
</body>
</html>